<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTRO</h1>
    <form action="/registro" method="post">
        <input type="text" name="nombre" placeholder="Ingrese usuario">
        <input type="email" name="email" placeholder="Ingrese email">
        <input type="password" name="password" placeholder="Ingrese contraseña">
        <input type="text" name="direccion" placeholder="Ingrese domicilio">
        <input type="number" name="edad" placeholder="Ingrese su edad">
        <input type="tel" name="telefono" placeholder="Ingrese su numero de telefono">
        <input type="text" name="avatar" placeholder="Ingrese URL de su avatar">
        <button>Registrarse</button>
    </form>
</body>
</html>